<div ng-show="!error">
  <form name="formNums" class="form" ng-submit="postNumber(numberChoice)" novalidate="">
    <input name="numberChoice" class="form__input" ng-model="numberChoice"  ng-maxlength="10">
    <select size="30" class="form__dropdown" name="ngvalueselect" ng-model="numberChoice" required convert-to-number>
      <option ng-repeat="number in fibonacci30 track by $index" ng-value="number">{{number}}</option>
    </select>
    <button type="submit" class="form__button" ng-disabled="formNums.$invalid">Submit</button>
  </form>

  <h2>Number History</h2>
  <h5>{{vm.numberHistory}}</h5>
  <h2>Total</h2>
  <h5 ng-init="getTotal()">{{vm.total}}</h5>
</div>

