/**
 * main.scss
 */


.form {
  background: darkgoldenrod;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 6px;
}
.form__dropdown {
  height: 200px;
  margin: 32px;
  padding: 13px;
}
.form_button {
  width: 200px;
  height: 100px;
  background: darkgray;
  font-size: xx-large;
  border-radius: 6px;
  margin: 8px;
}
