//Start of style
html, body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #eee;
  min-width: 320px;
  height:100%;
}

@import "../views/main/main";
